*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
h2{
    color: rgb(76, 206, 206) !important;
    font-display:fallback;
    font-size: 25px !important;
    font-style: italic;
    margin-bottom: 20px !important;
    border: 2px solid rgb(76, 206, 206) !important;
    text-align: center;
}
#teaching-center-img{
    background-repeat: no-repeat;
}
html, body{
    background-color: rgba(0, 0, 0, 0.644);
}
.info-grad{
    background:linear-gradient(245deg,rgb(10, 10, 10), #2f3638a8,#219aafce,#109aaf,transparent,transparent,transparent,transparent,transparent);
}
#logo-img{
    margin-left: 0;
    filter: contrast(200%);
}
.navbar-toggler{
    position: fixed;
    top: 5px;
    right: 5px;
}













