* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold !important;
  direction: rtl;
  border: none;
  outline: none;
  max-height: 500px !important; /*570px*/
  max-width:370px !important;
}

body {
  background-color: rgba(0, 0, 0, 0.226);
}
#plan {
  max-width: 370px;
  min-width: 370px;
  margin:0 auto;
  justify-content: center;
  align-items: center;
}

.sections {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  width:370px;
  background-color: rgb(255, 254, 254);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

span {
  font-weight: 900;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
  font-size: 1rem;
}

#plans {
  min-height: fit-content !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 370px;/* 100% */
  height: fit-content !important;
  max-height: 400px !important;
  border: 1px solid rgb(20, 20, 20) !important;
}

.cell1 {
  max-width: 15px;

}
.cell2 {
  max-width: 50px !important;
}
.cell3 {
  max-width: 120px !important;
  text-align: center;
  font-size: 14px !important;
  padding: 0 6px !important;
}

.cell4 {
  max-width: 282px !important; /*292*/
  min-width: 155px !important;
}
.cell1,
.cell2,
.cell3,
.cell4,
.cell5 {
  background-color: rgb(250, 250, 250);
  text-align: center;
  color: rgb(16, 17, 17);
  font-weight: bold !important;
    font-size: 13px !important;
}

.cell5 {
  max-width: 0px !important;
  min-width: 55px !important;
  font-size: 14px !important;
  padding: 0 auto;
  line-height:11px;
}
#printer {
  border-right: 2px solid rgba(20, 20, 22, 0.336);
  z-index: 100;
  background-color: rgba(163, 184, 125, 0.842);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 370px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  font-size: 2rem;
  animation: shrinko 9s linear ease-in-out;
  transition: 5s ease-in-out;
}
#information {
  line-height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  resize: none;
 /* margin-right: 0 -50px !important;
  margin-top: -100px !important;*/
  background-color: #00000002 !important;
  border: 2px solid rgba(255, 0, 0, 0.014);
  font-size: 1.2rem;
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.3);
}
#info-title,
li {
  background-color: #00000057;
  width: 100%;
  padding: 0 14px !important;
}
#printer button {
  padding: 0.5rem;
  font-size: 1rem;
}
#printer button:hover {
  cursor: pointer;
}
#printer:hover {
  animation: shrinko 5s linear ease-in-out;
}
#printer #provider {
  padding: 0.5rem;
  font-size: 0.7rem;
}
.providers {
  border: 1px solid rgb(69, 82, 81);
  margin-bottom: 22px;
  padding: 1rem;
  background-color: rgb(16, 36, 36);
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 2px;
  width: 150px !important;
}
#providerinput {
  background-color: rgba(0, 0, 0, 0.267) !important;
  font-size: 35px;
  color: rgb(82, 119, 116);
  width: 75px !important;
  border: 1px solid rgb(152, 170, 125);
  text-align: right;
}
#providerbtn {
  background-color: rgba(0, 0, 0, 0.541) !important;
  font-size: 15px;
  color: rgb(118, 139, 139);
  border: 1px solid rgb(152, 170, 125);
  text-align: center;
}
.printers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*border:1px solid rgb(162, 214, 41);*/
  margin-left: 16px;
  padding: 0.1rem;
  background-color: rgba(0, 0, 0, 0.418);
  width: 155px;
  background-color: #00000002 !important;
}
#printbtn {
  background-color: rgba(24, 29, 24, 0.836);
  color: rgb(184, 211, 202);
  border: 3px solid rgba(13, 14, 13, 0.5);
  text-shadow: 1px 1px 1px #000;
  box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.3);
}
#printbtn:hover {
  cursor: pointer;
}
#activeprintbtn {
  background-color: rgba(134, 153, 25, 0.541) !important;
  font-size: 12px;
  color: antiquewhite;
  text-align: center;
  border: 3px solid rgba(162, 214, 41, 0.5);
  text-shadow: 1px 1px 1px #000;
  /*rotate: 10deg;*/
  box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.3);
}
#activeprintbtn:hover {
  cursor: pointer;
  /*rotate: 0deg;*/
}

@keyframes shrinko {
  0% {
    width: 27%;
  }
  100% {
    width: 7%;
  }
}

@media print {
  #printer {
    z-index: 0;
    display: none;
  }
  #plan {
    display: block;
    width: 100vw;
    border: unset;
    filter: contrast(200%);
  }

  .cell4,
  .cell5 {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(16, 17, 17) !important;
    font-weight: bold !important;
    text-shadow: none !important;
  }
  td {
    border: 1px solid black;
  }
  input {
    border: 1px solid black;
  }
  .rows {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
  }
}

/* Styles for screens 768px or smaller (mobile sizes) */
@media screen and (max-width: 768px) {
  .printers {
    flex-direction: column;
  }
}
/* Styles for screens 768px or smaller (mobile sizes) */
@media screen and (max-width: 375px) {
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold !important;
  direction: rtl;
  border: none;
  outline: none;
  max-height: 500px !important; /*570px*/
  max-width:370px !important;
}
  body{
    display:flex;
    margin:0 auto;
  }
  .printers {
    flex-direction: column;
  }
  tr,
  td,
  .cell1,
  .cell2,
  .cell3,
  .cell4,
  .cell5 {
    background-color: rgb(250, 250, 250);
    text-align: center;
    color: rgb(16, 17, 17);
    font-weight: bold !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .rows{
    padding:0px !important;
    margin:0px !important;
  }
  
  
  #printer{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border:1px solid red !important;
  }
  #information{
    
    
        width:370px !important;
      min-width:370px !important;
      max-width:370px !important;
    border:1px solid red !important;
  }
   .providers{
    
    
        width:370px !important;
      min-width:370px !important;
      max-width:370px !important;
    border:1px solid red !important;
  }
   .printers{
    
    
        width:370px !important;
      min-width:370px !important;
      max-width:370px !important;
    border:1px solid red !important;
  }
  #plan{
    width:370px !important;
      min-width:370px !important;
      max-width:370px !important;
    border:1px solid red !important;
    
  }
  table {
  width: 100%;/* 100% */
  height: fit-content !important;
  max-height: 400px !important;
  border: 1px solid rgb(20, 20, 20) !important;
    margin:0 auto;
}
}











